<h2>Edit My Store</h2>
<%= form_for @tenant do |f| %>
  <% if @tenant.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(@tenant.errors.count, "error") %> occurred:</h2>

    <ul>
      <% @tenant.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<p> <%= f.label :name, "My Store Name" %><br>
    <%= f.text_field :name, :style => "width:300px" %></p>

<p> <%= f.label :description, "My Story" %><br>
    <small>Please tell visitors a little about yourself. Who are you? What are you hoping to accomplish through Keevahh? How will the support of lenders change your life?</small><br>
    <%= f.text_field :description, :size => "200" %></p>

    <button type="submit">Submit</button>
<%end%>
