<div class="">
  <% unless current_user %>
    <h3>You must be a registered user to apply as a borrower!</h3></br>
  <% else %>
    <%= form_for @tenant do |f| %>
      <% if @tenant.errors.any? %>
        <div id="">
          <h2><%= pluralize(@tenant.errors.count, "error") %> occurred:</h2>
          <ul>
            <% @tenant.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h3>Apply to Become a Borrower!</h3></br>
      <p><%= f.text_field :name, placeholder: "Business Name", :style => "width:300px" %></p>
      <p><small>Please enter a brief description of your business effort.</small><br>
      <%= f.text_field :description, :size => "200" %></p>

      <p><%= f.submit "Apply" %></p>
    <% end %>
  <% end %>
</div>
