<div class="">
  <% unless current_user %>
    <h3>You must be a registered user to apply as a borrower!</h3></br>
  <% else %>
    <%= form_for @tenant do |f| %>
      <% if @tenant.errors.any? %>
        <div id="">
          <h2><%= pluralize(@tenant.errors.count, "error") %> occurred:</h2>
          <ul>
            <% @tenant.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h3>Apply to Become a Borrower!</h3></br>
          <p> <%= f.label :name, "Store Name" %><br>
            <%= f.text_field :name, :style => "width:300px" %></p>

          <p> <%= f.label :blurb, "Store Summary" %><br>
          <span class="note">Please sum up your situation in one sentence.</span><br>
          <%= f.text_field :blurb, :style => "width:300px" %></p>

          <p> <%= f.label :description, "Your Story" %><br>
          <span class="note">Please tell visitors a little about yourself. Who are you? What are you hoping to accomplish through Keevahh? How will the support of lenders change your life?</span>
            <%= f.text_field :description, :size => "200" %><p>

      <p><%= f.submit "Apply" %></p>
    <% end %>
  <% end %>
</div>
