<h2><%= @tenant.name %></h2>

<div class="store">
  <p><%= @tenant.description %></p>

  <p><%= link_to "edit my store", edit_tenant_path %>

  <h3>Loan Requests:</h3>
  <h3><%= link_to 'Create new loan request', new_loan_request_path %></h3>

  <% @tenant.loan_requests.each do |lr| %>
    <div class="loan_request">
      <p style="font-weight: bold">Title: <%= link_to "#{lr.title.titleize}", loan_request_path(lr) %></p>
      <p><%= image_tag lr.image.url(:thumb) %>
      <p><%= "Blurb: #{lr.blurb}" %> <%= link_to "Learn more.", loan_request_path(lr) %></p>
      <p><%= "Borrowing Amount: #{lr.borrowing_amount}" %></p>
      <p><%= "Amount Funded: #{lr.amount_funded}" %></p>
      <p><%= "Requested by: #{lr.requested_by_date}" %></p>
      <p><%= "Loan Term: #{lr.loan_term}" %> months</p>
      <p><%= "Status: #{lr.status}" %></p>

      <% if !current_tenant && !current_user %>
      <p><% if lr.status == 'open' %>
           <%= check_box_tag "loan_requests[]", lr.id %>
           <%= label_tag("loan_request_#{lr.id}", "<-- Yes, I want to Loan!") %>
           <% else %>
           <p><em>Fully funded!</em></p>
         <% end %>
      <% end %>

    </div>
    <div style="clear:both"></div>
  <%end%>
  <% if !current_tenant && !current_user %>
    <%= submit_tag "Add selected Loans to Cart" %>
  <% end %>
</div>
<div style="clear:both"></div>
