<h2><%= @tenant.name %></h2>

<% if can? :update, @tenant %>
  <p class="note"><%= link_to "edit my store", edit_tenant_path %> |  <%= link_to 'Create new loan request', new_loan_request_path %></p>
<% end %>
<p><%= @tenant.description %></p>


<div class="store">
  <h3>Loan Requests:</h3>
   <p class="cart-button"><%= link_to 'Take me to my cart!', cart_path %></p>
    <% @tenant.loan_requests.each do |loan_request| %>
      <%= form_tag '/cart', remote: true do %>
      <div class="loan_request">
        <p style="font-weight: bold">Title: <%= link_to "#{loan_request.title.titleize}", loan_request_path(loan_request) %></p>
        <p><%= image_tag loan_request.image.url(:thumb) %>
        <p><%= "#{loan_request.blurb}" %> <%= link_to "Learn more.", loan_request_path(loan_request) %></p>
        <p><%= "Borrowing Amount: #{number_to_currency(loan_request.borrowing_amount, precision: 0)}" %></p>
        <p><%= "Amount Funded: #{number_to_currency(loan_request.amount_funded, precision: 0)}" %></p>
        <p><%= "Requested by: #{loan_request.requested_by_date.strftime('%m/%d/%Y')}" %></p>
        <p><%= "Loan Term: #{loan_request.loan_term}" %> months</p>
        <p><%= "Categories: #{loan_request.category_names.join(' | ')}" %></p>
        <p><%= "Status: #{loan_request.status}" %></p>

        <% if !current_tenant  %>
          <% if loan_request.status == 'open' %>
            <%= hidden_field_tag "loan_request", loan_request.id %>
            <%= submit_tag "Loan $25", name: "loan_request_#{loan_request.id}", class: 'loan-button' %>
          <% else %>
            <p><em>Fully funded!</em></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
<% end %>
    <div style="clear:both"></div>
  </div>
<div style="clear:both"></div>
