<div>
  <h2>Your Cart</h2>
    <%= form_tag '/cart_update', method: :put, id: "my-form" do |f| %>
    <% unless current_user %>
      <h3>Please log in above to complete your order.</h3>
    <% else %>
      <%= submit_tag "Checkout", :id => "submit" %>
    <%end%>
    <br>
    <br>

    <% cart.find_loan_request.each do |lr| %>
      <div class="loan_request">
        <p style="font-weight: bold"><%= "Title: #{lr.title.titleize}" %></p>
        <p><%= image_tag lr.image.url(:thumb) %>
        <p><%= lr.blurb %></p>
        <p><%= "Borrowing Amount: #{number_to_currency(lr.borrowing_amount, precision: 0)}" %></p>
        <p><%= "Amount Funded: #{number_to_currency(lr.amount_funded, precision: 0)}" %></p>
        <p><%= "Requested by: #{lr.requested_by_date.strftime('%m/%d/%Y')}" %></p>
        <p><%= "Loan Term: #{lr.loan_term}" %> months</p>
        <p><%= "Status: #{lr.status}" %></p>
        <p><%= "Created at: #{lr.created_at.strftime('%m/%d/%Y')}" %></p>
        </br>

        <p> Amount to loan:
        <% if lr.remaining_amount < 500 %>
          <%= select_tag("amounts[]", options_for_select((25..lr.remaining_amount).step(25).to_a)) %>
        <% else %>
          <%= select_tag("amounts[]", options_for_select((25..500).step(25).to_a)) %>
        <% end %>
        </p>
        <p><%= link_to("Remove", cart_item_path(id: lr.id), :class => "remove-cart-link") %></p>
      </div>
    <% end %>

    <div style="clear:both"></div>
  <% end %>
</div>

<script>
$(".remove-cart-link").click(function(e) {
  e.preventDefault();
  var url = e.target.href;

  function updateUI () {
    $(e.target).parents(".loan_request").remove();
  }

  $.ajax({
      url: url,
      type: 'DELETE',
      success: updateUI
    });

});
</script>


<div style="clear:both;"></div>
