<div>
  <h1>Your Cart</h1>
  <% unless current_user %>
    <h3>Please log in above to complete your order.</h3>
  <% else %>
    <%= link_to "Continue Order", class: "button" %>
  <%end%>
</div>

<% @cart.flatten.each do |lr| %>
  <div class="loan_request">
    <p style="font-weight: bold"><%= "Title: #{lr.title.titleize}" %></p>
    <p><%= "Description: #{lr.description}" %></p>
    <p><%= "Borrowing Amount: #{lr.borrowing_amount}" %></p>
    <p><%= "Amount Funded: #{lr.amount_funded}" %></p>
    <p><%= "Requested by: #{lr.requested_by_date}" %></p>
    <p><%= "Loan Term: #{lr.loan_term}" %></p>
    <p><%= "Status: #{lr.status}" %></p>
    <p><%= "Created at: #{lr.created_at}" %></p>
  </div>
<% end %>

<div style="clear:both;"></div>
