<p>Welcome! By signing up for Keevahh, you are joining a community of global opportunity. Whether you opt to create a store or choose to lend money to an individual across the globe, you are contributing to the Keevahh effort to alleviate poverty through lending. <strong>Once you create a user account, you are eligible to become a borrower.</strong>

<h2>Register as a Keevahh User</h2>

<% if current_user %>
  <h3>Whoops!</h3>
  <p>Looks like you are already logged in. If you're interested in creating a Keevahh store, please [click here] for more info.</p>
  <h5>Not <%=current_user.first_name%>?</h5>
  <p>Please <%= link_to "Sign Out", logout_path, method: :delete %> to log in or register as a new user </p>
  <br/>
<%else%>

  <%= form_for @user, :html => {:'data-abide' => true} do |f| %>
    <% if @user.errors.any? %>
      <div id="errors">
        <h2><%= pluralize(@user.errors.count, "error") %> occurred:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>All fields are required</p>
    <p><%= label_tag :first_name, "First Name"%><br>
    <%= f.text_field :first_name %></p>

    <p><%= label_tag :last_name, "Last Name"%><br>
    <%= f.text_field :last_name %></p>

    <p><%= label_tag :email, "Email"%><br>
    <%= f.text_field :email %></p>

    <p><%= label_tag :username, "Username"%><br>
    <%= f.text_field :username %></p>

    <p><%= label_tag :password, "Password".html_safe %><br>
    <%= f.password_field :password %></p>

    <p><%= label_tag :password_confirmation, "Confirm Password".html_safe %><br>
    <%= f.password_field :password_confirmation %></p>

    <button type="submit">Submit</button>
  <%end%>
<%end%>
