<h2>Loan Requests</h2>

<p>Show
  <%= link_to 'open', 'loan_requests?status=open' %>,
  <%= link_to 'closed', 'loan_requests?status=closed' %> or
  <%= link_to 'all', loan_requests_path %> loan requests.</p>

<%= form_tag '/cart' do |f| %>
  <% @loan_requests.each do |lr| %>
    <div class="loan_request">
      <p style="font-weight: bold">Title: <%= link_to "#{lr.title.titleize}", loan_request_path(lr) %></p>
      <p><%= image_tag lr.image.url(:thumb) %>
      <p><%= "Blurb: #{lr.blurb}" %> <%= link_to "Learn more.", loan_request_path(lr) %></p>
      <p><%= "Borrowing Amount: #{lr.borrowing_amount}" %></p>
      <p><%= "Amount Funded: #{lr.amount_funded}" %></p>
      <p><%= "Requested by: #{lr.requested_by_date}" %></p>
      <p><%= "Loan Term: #{lr.loan_term}" %> months</p>
      <p><%= "Status: #{lr.status}" %></p>
        <% if lr.status == 'open' %>
        <%= check_box_tag "loan_requests[]", lr.id %>
        <%= label_tag("loan_request_#{lr.id}", "<-- Yes, I want to Loan!") %>
        <% else %>
        <p><em>Fully funded!</em></p>
        <% end %>
    </div>
  <% end %>
  <div style="clear:both"></div>
  <%= submit_tag "Add selected Loans to Cart" %>
<% end %>


<div style="clear:both;"></div>
