<h2>Loan Requests</h2>

<p>Show
  <%= link_to 'open', 'loan_requests?status=open' %>,
  <%= link_to 'closed', 'loan_requests?status=closed' %> or
  <%= link_to 'all', loan_requests_path %> loan requests.</p>

<%= form_tag '/cart' do %>
  <% @loan_requests.each do |lr| %>
    <div class="loan_request">
      <p style="font-weight: bold">Title: <%= link_to "#{lr.title.titleize}", loan_request_path(lr) %></p>
      <p><%= image_tag lr.image.url(:thumb) %>
      <p>Borrower: <%= lr.user.tenant.name %>
      <p><%= "Blurb: #{lr.blurb}" %> <%= link_to "Learn more.", loan_request_path(lr) %></p>
      <p><%= "Borrowing Amount: #{number_to_currency(lr.borrowing_amount, precision: 0)}" %></p>
      <p><%= "Amount Funded: #{number_to_currency(lr.amount_funded, precision: 0)}" %></p>
      <p><%= "Requested by: #{lr.requested_by_date.strftime('%m/%d/%Y')}" %></p>
      <p><%= "Loan Term: #{lr.loan_term}" %> months</p>
      <p><%= "Repayment Rate: #{number_to_currency(lr.repayment_rate, precision: 0)}" %> / month</p>
      <p>Categories: <% lr.get_categories(lr).each do |name| %><%= "#{name } " %> | <% end %></p>
      <p><%= "Status: #{lr.status}" %></p>
        <% if lr.status == 'open' %>
          <%= check_box_tag "loan_requests[]", lr.id %>
          <%= label_tag("loan_request_#{lr.id}", "<-- Yes, I want to Loan!") %>
        <% else %>
          <p><em>Fully funded!</em></p>
        <% end %>
    </div>
  <% end %>
  <div style="clear:both"></div>
  <%= submit_tag "Add selected Loans to Cart" %>
<% end %>


<div style="clear:both;"></div>
