<h2>Loan Requests</h2>

<p>Title: <%= @loan_request.title %></p>
<p>Description: <%= @loan_request.description %></p>
<p>Borrowing Amount: <%= @loan_request.borrowing_amount %></p>
<p>Requested by: <%= @loan_request.requested_by_date %></p>
<p>Payment Start Date: <%= @loan_request.payments_begin_date %></p>
<p>Payment End Date: <%= @loan_request.payments_end_date %></p>
