<%= render partial: "shared/subnav" %>
<div class="cart-corner"><%= link_to(image_tag("cart_icon.png", :alt => "Cart"), cart_index_path) %></div>
<h1><%= link_to(image_tag("keevahh.jpg", :alt => "Logo"), root_path) %></h1>
<%= render partial: "shared/nav_bar" %>
<%= render partial: "shared/flash", id: "flash" %>
