<%= render partial: "shared/subnav" %>

  <div class="logo">
  <%= link_to(image_tag("keevahh_small.jpg", :alt => "Logo"), root_path) %> <span class="biggreen">Loans that change lives.</span>
  </div>
  <div style="clear:both;"></div>

  <% if !current_user %>
  <div class="corner-button">
    <%= link_to(image_tag("store_user.png", :alt => "Register"), new_user_path) %></div>
    <% end %>

    <% if current_user && !current_user.tenant? %>
    <div class="corner-button">
      <%= link_to(image_tag("store_open.png", :alt => "Borrow"), new_tenant_path) %></div>
      <% end %>

      <% if current_user && current_user.tenant? %>
      <div class="corner-button">
        <%= link_to(image_tag("store_my.png", :alt => "My Store"), tenant_path(current_user.tenant.slug)) %></div>
        <% end %>

<%= render partial: "shared/flash", id: "flash" %>

<%= render partial: "shared/nav_bar" %>
