<subnav>
  <% unless current_user %>
    <%= form_tag login_path do %>
      <input type="text" name="username" placeholder="Username" required></li>
      <input type="password" name="password" placeholder="Password"required></li>
      <input type="submit", value="Log In"> or

      <%= link_to "Sign Up", new_user_path %>
    <% end %>
  <% end%>

  <% if current_user %>
    Signed in as <strong><%= current_user.first_name %></strong> &bull;
    <%= link_to "My Profile", user_path(current_user) %> &bull;
  <% end %>

  <% if current_user && current_user.admin? %>
    <%= link_to "Admin Dashboard", rails_admin_path %> &bull;
  <% end %>

  <% if current_tenant && current_user.tenant? %>
    <%= link_to(image_tag("button_mystore.png", :alt => "My Store"), tenant_path(current_user.tenant.slug)) %></div>
  <% end %>

  <% if current_user %>
    <%= link_to "Sign out", logout_path, method: :delete%> &bull;
    <%= link_to "Cart", cart_path %>
  <% end %>
</subnav>
